html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: bold;
  line-height: 1.1;
  color: var(--color-text-dark);
}

h1,
.h1 {
  font-size: var(--text-h1-sm);
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: var(--text-h1);
  }
}

h2,
.h2 {
  font-size: var(--text-h2-sm);
}
@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: var(--text-h2);
  }
}

h3,
.h3 {
  font-size: var(--text-h3-sm);
}
@media (min-width: 768px) {
  h3,
  .h3 {
    font-size: var(--text-h3);
  }
}

h4,
.h4 {
  font-size: var(--text-h4);
}
h5,
.h5 {
  font-size: var(--text-h5);
}
h6,
.h6 {
  font-size: var(--text-h6);
}

b,
strong {
  @apply font-semibold;
}
code {
  @apply after:border-none;
}
