@import "tailwindcss";
@plugin "../tailwind-plugin/tw-theme.mjs";
@plugin "../tailwind-plugin/tw-bs-grid.mjs";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
}

@font-face {
  font-family: 'QuickSand';
  src: url('/font/Quicksand.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
       
}

@font-face {
  font-family: 'Vortigra';
  src: url('/font/Vortigra.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
       
}